@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.container span{
    color: #e67e22;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 40px 40px;
    height: 10vh;
}


.logo { 
    font-size: 2vw;
}

.nav-links a {
font-size: 1.7vw;
color: #000;
padding: 10px;
}

.nav-links :hover{
    color:#2980b9;
    text-decoration: underline;
}
/* INTROSECTION */
.introsection {
   padding: 0 7.03rem ;
   display: flex;
   justify-content: space-between;
   /* max-width: 75.9375rem; */


}
.introsection > .intro-left-side {
    padding-top: 7.3125rem;
   display: flex;
   flex-direction: column;
}
.introsection > .intro-left-side h1 {
    font-size:4.5rem ;
    font-weight: 700;
}
.introsection > .intro-left-side h1 span {
    color: #FF8A56;
   
}
.introsection > .intro-left-side small{
    margin-top: 18px;
    font-size: 22px;
    color: #666;
    font-weight: 400;
}

.intro-right-side {
    padding-top: 4.375rem;
}
.intro-right-side img {
    width: 100%;
}
.intro-left-side .button-groups{
    display: flex;
    margin-top: 12px;
    align-items: center;
    
}

.intro-left-side .button-groups a {
    margin-right: 10px;
}

.intro-left-side .button-groups a:nth-child(1) {
    width: 151px;
    height: 58px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.intro-left-side .button-groups a:nth-child(2) {
    color:#000;
}


@media(max-width:1363px) {
    .introsection{
        flex-direction: column;
        padding: 0;
    }
    .introsection small {
        padding: 0;
       flex-basis: 100%;
    }
    .intro-left-side h1 {
        text-align: center;
        /* padding: 0; */
    }
}

@media(max-width:859px) and (min-width:768px){
.introsection  .intro-left-side h1{
    font-size: 3.5rem;
    text-align: center;

}
}

@media(min-width:576px) and (max-width:768px){
    .introsection{
        padding: 0;
    }
    .introsection .intro-left-side h1{
        text-align: center;
        font-size: 3.5rem;
    }
}

.trust-by {
    text-align: center;   
}

.trusted-by-center {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.trusted-by {
    display: flex;
    justify-content: space-around;
    width: 80%;
}